#cafecito {
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    align-items: center;
    scroll-margin-top: 200px;
}

#cafecito h2 {
    margin-top: 1rem;
}

#cafecito p {
    width: 70%;
}